---
import MainHead from '../components/MainHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import UnsplashWrapper from '../components/UnsplashWrapper.astro';
import ShortBio from '../components/ShortBio.astro';

const { content } = Astro.props;

const { title, date, image, unsplash, photographer, description } = content;
const readableDate = new Intl.DateTimeFormat('en-US').format(new Date(date));
---

<html lang="en">
  <head>
    <MainHead
      title={title}
      description={description}
      canonicalURL={Astro.request.canonicalURL.href}
      socialImage={`/images/social/${Astro.request.canonicalURL.href.replace(
        'https://eric-zieger.de/posts', ''
        ).replace(
          /\//g, ''
        )}.png`}
    />
  <link rel="stylesheet" type="text/css" href={Astro.resolve('../global.css')} />
  <link rel="stylesheet" type="text/css" href={Astro.resolve('./post.css')} />
  </head>
  <body class="bg-gray-50 flex flex-col min-h-screen">
    <Header />
    <main class="flex-grow mx-auto max-w-2xl py-12 px-6">
      <h1 class="font-serif text-4xl font-bold text-gray-900 mb-3">{title}</h1>
      <time datetime={date} class="font-mono text-sm block mb-6">{readableDate}</time>
      <UnsplashWrapper unsplash={unsplash} photographer={photographer} className="md:-mx-16">
        <img loading="lazy" class="post-image w-full object-cover object-center" src={'/images/optimized/719/' + image.replace('.jpg', '.webp')} alt="" />
      </UnsplashWrapper>
      <div class="article">
        <slot />
      </div>
      <ShortBio />
    </main>
    <Footer />
  </body>
</html>
