---
import MainHead from '../components/MainHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import UnsplashWrapper from '../components/UnsplashWrapper.astro';
import ShortBio from '../components/ShortBio.astro';

const { content } = Astro.props;
const { title, date, image, unsplash, photographer, description } = content;
const readableDate = new Intl.DateTimeFormat('en-US').format(new Date(date));
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en">
  <head>
    <MainHead
      title={title}
      description={description}
      canonicalURL={canonicalURL}
      socialImage={`/images/social${Astro.url.pathname.substring(6, Astro.url.pathname.length-1)}`}
    />
    <style is:global>
      .article p {
        font-size: 1.1rem;
        line-height: 1.5;
        margin-top: 1.25em;
        margin-bottom: 1.25em;
      }

      .article ul {
        list-style: inside;
        margin-left: 0.75em;
      }

      ::marker {
        color: #10da75;
      }

      .astro-code {
        padding: 1em;
      }
    </style>
  </head>
  <body class="bg-gray-50 flex flex-col min-h-screen">
    <Header />
    <main class="flex-grow mx-auto max-w-2xl py-12 px-6 w-screen">
      <h1 class="font-serif text-4xl font-bold text-gray-900 mb-3">{title}</h1>
      <time datetime={date} class="font-mono text-sm block mb-6">{readableDate}</time>
      <UnsplashWrapper unsplash={unsplash} photographer={photographer} className="md:-mx-16">
        <img class="post-image w-full object-cover object-center" src={'/images/optimized/719/' + image.replace('.jpg', '.webp')} alt="" />
      </UnsplashWrapper>
      <div class="article">
        <slot />
      </div>
      <ShortBio />
    </main>
    <Footer />
  </body>
</html>
